@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&subset=latin-ext');
@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");

body {
font-family: 'Work Sans', sans-serif;
font-weight: 400;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
font-family: 'Work Sans Bold', sans-serif;
font-weight: 700;
color:#222324;
}

pre, code {
font-family: "Fira Code", Consolas, Inconsolata, monospace;
}

.navbar-default {
background-color: #f3f3f3;
border-color: #eee;
}
